<mat-card>
  <mat-card-title>{{ taskId ? 'Editar Tarefa' : 'Nova Tarefa' }}</mat-card-title>
  <mat-card-content>
    <form>
      <mat-form-field appearance="fill">
        <mat-label>Título</mat-label>
        <input matInput [(ngModel)]="title" name="title" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Descrição</mat-label>
        <textarea matInput [(ngModel)]="description" name="description" required></textarea>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions style="justify-content: center;">
    <button mat-raised-button color="primary" (click)="saveTask()">
      {{ taskId ? 'Atualizar' : 'Salvar' }}
    </button>
  </mat-card-actions>
</mat-card>