<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form>
      <mat-form-field appearance="fill">
        <mat-label>Usuário</mat-label>
        <input matInput [(ngModel)]="username" name="username">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <input matInput [(ngModel)]="password" name="password" type="password">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions style="justify-content: center;">
    <button mat-raised-button color="primary" (click)="login()">Login</button> <br>
  </mat-card-actions>
  <p style="text-align: center; margin-top: 8px;">
    <a style="color: blue; text-decoration: underline; cursor: pointer;" (click)="createAccount()">Criar conta</a>
  </p>
</mat-card>